<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="yksdenemekonutakip.Properties.Settings.ykstakipConnectionString" connectionString="Data Source=LAPTOP-FMJQ9I6Q\SQLEXPRESS;Initial Catalog=ykstakip;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
